*{
    margin: 0;
    padding: 0;
}
.div1{
    background-color: black;
    color: whitesmoke;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    letter-spacing: 0.8em;
    font-size: small;
}
.navbar{
    background-color: #227239;
    height: 70px;
    align-content: center;
} 
.navlist1 li, a{
    display: inline;
    padding-right: 15px;
    text-decoration: none;
}
.navdiv1{
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    margin-top: 15px;
}
.navdiv2{
    
    position: absolute;
    margin-left: 350px;
    font-size: 22px;
    letter-spacing: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-top: 15px;
}
header{
    width: 100%;
}
.lastdiv{
    background-color: red;
    width: 100%;
    text-align: center;
    position: static;
}
img{
    height: 30px;
    width: 30px;
    padding-right: 15px;
}
.lastlist li, a{
    display: inline;
}
footer{
    margin-bottom: 0%;
    bottom: 0;
    position: static;
   background-attachment: fixed;
   height: 70px; 
}
body{
    background-image: url(mainstore.jpg);
    background-repeat: repeat-x;
}
